<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XLIG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XLIG.Properties.Settings>
            <setting name="HScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MagicNumber" serializeAs="String">
                <value>1234.234</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>tuan.nguyenhoang</value>
            </setting>
        </XLIG.Properties.Settings>
    </userSettings>
</configuration>