<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AddinX.Ribbon.Contract" version="1.0.0" targetFramework="net472" />
  <package id="AddinX.Ribbon.ExcelDna" version="1.0.0" targetFramework="net472" />
  <package id="AddinX.Ribbon.Implementation" version="1.0.0" targetFramework="net472" />
  <package id="ExcelDna.AddIn" version="1.0.0" targetFramework="net472" />
  <package id="ExcelDna.Integration" version="1.0.0" targetFramework="net472" />
  <package id="ExcelDna.IntelliSense" version="1.1.0" targetFramework="net472" />
  <package id="ExcelDna.Interop" version="14.0.1" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
</packages>